<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--Css files -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
  <link rel="stylesheet" href="/stylesheets/style.css"/>

  <!--Font awesome cdn-->
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body id="home">
    {{{body}}}
  <!--Footer starts-->
<footer>
  <p>Copyright &copy;Salt Edge Inc.2018</p>
</footer>
<!--Footer ends-->

<!--Javascript files-->
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/popper.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<!--Menus starts-->
<script>
$(document).ready(function() {
  $("#mob-menu-btn").click(function() {
    $("#mob-menu").slideToggle();
  });
});
</script>
<script src="/javascripts/main.js"></script>
<script>
  
</script>

</body>
</html>
